{% extends "index.html" %}

{% block title %}Carrusel{% endblock %}

{% block content %}
<h2 class="text-center mb-4"></h2>

<div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    {% for img in imagenes %}
      <button type="button" data-bs-target="#miCarrusel" data-bs-slide-to="{{ loop.index0 }}"
              class="{% if loop.first %}active{% endif %}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for img in imagenes %}
      <div class="carousel-item {% if loop.first %}active{% endif %}">
        <img src="{{ img }}" class="d-block w-100" alt="Imagen {{ loop.index }}">
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>
<br>
<diV class="line-gap"></diV>
{% endblock %}
