{% extends "index.html" %}

{% block title %}Club - GEOSO2{% endblock %}

{% block content %}
    <p style="text-align: center; font-size: 35px;">
        <strong>Arbolado Autóctono en campos deportivos</strong>
    </p>
    </div>

    <p style="text-align: center; font-size: 25px;">
        <strong>Estudio sobre gestión de la vegetación autóctona para su mantenimiento y conservación en las instalaciones de la Real Sociedad Hípica Española Club de Campo, S.A.</strong>
    </p>

    <p style="text-align: center; font-style: italic; font-size: 20px;">
        Contrato privado Financiado por: RSHECC, S.A.
    </p>
    <br>
    <p style="text-align: center; font-style: italic;font-size: 20px;">
        2023-2024
    </p>
<p>El club dispone de un rico patrimonio arbóreo de carácter autóctono que ha sido inventariado y se mantiene actualizado mediante Sistemas de información Geográfica, utilizando técnicas de medición en campo (Figura 1 y Figura 2) y geolocalización (Figura 3).</p>

<div class="container my-4">
  <div class="row">
    <div class="col-md-4 text-start">
      <figure>
        <img src="../imput/img/proyectos/images/club/images/02.png" class="img-fluid" style="width:450px;">
        <figcaption>Figura 1: Medición en campo de diámetros (forcípula)</figcaption>
      </figure>
    </div>

    <div class="col-md-8 text-end">
      <figure>
        <img src="../imput/img/proyectos/images/club/images/03.png" class="img-fluid" style="width:500px;">
        <figcaption>Figura 2: Medición en campo de alturas (hipsómero Blume Leiss)</figcaption>
      </figure>
    </div>
  </div>
</div>
<br>
<br>
<p>En la base de datos se encuentran recogidas especies como encinas (Quercus ilex subsp. ballota), pinos piñoneros (Pinus pinea), pinos carrascos (Pinus halepensis) y otras especies como cipreses (Cupresus sp.), enebro de la miera (Juniperus oxycedrus), álamos (Populus sp.) y olmos (Ulmus sp.).</p>
<br>



    {% endblock %}