{% extends "index.html" %}

{% block title %}Contacto{% endblock %}
<br><br>
{% block content %}
<h4><strong>Contacta con nosotros</strong></h4>
<p>
  El Grupo de Investigación Geoespacial y Dinámicas Territoriales para la Sostenibilidad tiene su sede
  en la Escuela Técnica Superior de Ingeniería de Montes, Forestal y del Medio Natural de la Universidad
  Politécnica de Madrid.
</p>
<img src="../logo/email-geoso2.svg" width="150" height="100">
<br>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.176379382654!2d-3.7229139999999994!3d40.449233!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422835fae5e141%3A0x8edc1a24b1f863db!2sETSI%20Montes%2C%20Forestal%20y%20del%20Medio%20Natural.%20Edificio%20Forestales.!5e0!3m2!1sen!2ses!4v1708282419113!5m2!1sen!2ses"
  width="900" height="550" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
{% endblock %}
