{% extends "index_base.html" %}
{% block title %}EELISA - GEOSO2{% endblock %}

{% block content %}
<br><br>
<div class="text-center">
    <h1><strong>EELISA Green Planet</strong></h1>
    <h3><strong>European Engineering Learning Innovation and Science Alliance - Green Planet Community</strong></h3>
    <p><i>Desde 2021 – en curso. Financiado por: Unión Europea + Autofinanciación</i></p>
    <a href="https://eelisa.eu/"><img src="../imput/img/proyectos/images/eelisa/images/01.png" width="450px"></a>
    <a href="../imput/img/proyectos/images/eelisa/doc/GEOSO2_FICHA_PROYECTOS_EELISA_INTED2024.pdf"><img src="../imput/img/proyectos/images/eelisa/images/02.jpg" width="450px"></a>
</div>
<br>
<p>El proyecto <a style="text-decoration: none;" href="https://eelisa.eu/">European Engineering Learning Innovation and Science Alliance </a>(EELISA) es la primera alianza de instituciones de educación superior de diferentes países de Europa destinada a <strong>definir e implementar un modelo común de ingeniero europeo arraigado en la sociedad.</strong></p>

<p>Los miembros del <a style="text-decoration: none;" href="../output/index.html">Grupo de Investigación geoespacial y dinámicas territoriales para la sostenibilidad </a>(GEOSO2) se alinearon con esa idea y forman parte de la <a style="text-decoration: none;" href="https://blogs.upm.es/eelisa-greenplanet/">Comunidad Green Planet</a> desde el inicio del proyecto (2021). La misión de Green Planet es <strong>preservar nuestro planeta verde con tecnología inteligente</strong>. Específicamente, nuestro objetivo general es lograr bosques y tierras agrícolas saludables y ciudades más verdes cumpliendo con el objetivo de Hambre Cero y otros <a style="text-decoration: none;" href="https://blogs.upm.es/eelisa-greenplanet/sustainable-development-goals/">ODS</a>.</p>

<p>En ese contexto, GEOSO2 ofrece <strong>actividades académicas, vinculadas con entidades y empresas</strong>, que contemplan un alto grado de compromiso social y de contacto con las necesidades de la sociedad. En especial, las colaboraciones suelen ser en Trabajos Fin de Grado, Trabajos fin de Máster y Prácticas en empresa, como por ejemplo: Campos de cultivo de subsistencia en el departamento de Dja et Lobo (Camerún): <a style="text-decoration: none;" href="https://oa.upm.es/">Optimización de su utilidad a través de sistemas de información geográfica</a>. También se ofertan actividades más puntuales (taller, encuentro, seminario, etc.) siempre enfocados a la resolución de un problema real.</p>

<div class="text-center">
    <a href="https://www.upm.es/"><img src="../imput/img/proyectos/images/eelisa/images/03.png" width="450px"></a>
    <a href="https://www.upm.es/"><img src="../imput/img/proyectos/images/eelisa/images/04.png" width="450px"></a>
</div>
{% endblock %}