{% extends "index_base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<br><br>

<div id="miCarrusel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
  <div class="carousel-inner">

    {% for item in index_page.carousel %}
  <div class="carousel-item {% if loop.first %}active{% endif %}">

    {% if item.enlace %}
      <a href="{{ item.enlace }}" target="_blank">
        <img src="{{ item.imagen or '../imput/img/default.png' }}"
             alt=""
             class="d-block w-100">
      </a>
    {% else %}
      <img src="{{ item.imagen or '../imput/img/default.png' }}"
           alt=""
           class="d-block w-100">
    {% endif %}

  </div>
{% endfor %}


  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<hr>

<a class="marco" href="../output/noticias.html">
<h3>Noticias</h3>
</a>

{% for noticia in index_page.noticias %}
  <div class="imagenizq-texto">

    {% if noticia.link %}
      <a href="{{ noticia.link }}">
        <img src="{{ noticia.imagen or '../imput/img/default.png' }}" alt="{{ noticia.titulo or '' }}">
      </a>
    {% else %}
      <img src="{{ noticia.imagen or '../imput/img/default.png' }}" alt="{{ noticia.titulo or '' }}">
    {% endif %}

    <div><br>

      {% if noticia.link %}
        <a style="text-decoration: none; color: white;" href="{{ noticia.link }}">
          <h4>{{ noticia.titulo or '' }}</h4>
        </a>
      {% else %}
        <h4>{{ noticia.titulo or '' }}</h4>
      {% endif %}

      <p>{{ noticia.descripcion or '' }}</p>

      {% if noticia.link %}
        <a href="{{ noticia.link }}">{{ noticia.link_text or "Leer más" }}</a>
      {% endif %}

    </div>
  </div>
{% endfor %}

<hr>
<br>

<a class="marco" href="../output/agenda.html">
  <h3>Agenda</h3>
</a>

{% for evento in index_page.agenda %}
  <div class="col-md-4 text-center imagenizq-texto">

    {% if evento.link %}
      <a href="{{ evento.link }}">
        <img src="{{ evento.imagen or '../imput/img/default.png' }}" style="width:200px">
      </a>
    {% else %}
      <img src="{{ evento.imagen or '../imput/img/default.png' }}" style="width:200px">
    {% endif %}

  </div>

  <div><br>

    {% if evento.link %}
      <a style="color: white; font-weight:700; text-decoration:none;" href="{{ evento.link }}">
        <h4>{{ evento.titulo or '' }}</h4>
      </a>
    {% else %}
      <h4>{{ evento.titulo or '' }}</h4>
    {% endif %}

    <p>{{ evento.descripcion or '' }}</p>

    {% if evento.link %}
      <a href="{{ evento.link }}">Leer Más</a>
    {% endif %}

  </div>
{% endfor %}

<hr><br>

<h3>Entidades colaboradoras</h3>
<div class="row text-center">

  {% for col in index_page.colaboradores %}
  <div class="col">

    {% if col.enlace %}
      <a href="{{ col.enlace }}" target="_blank">
        <img src="{{ col.imagen or '../imput/img/default.png' }}"
             alt="{{ col.nombre or '' }}"
             class="img-fluid">
      </a>
    {% else %}
      <img src="{{ col.imagen or '../imput/img/default.png' }}"
           alt="{{ col.nombre or '' }}"
           class="img-fluid">
    {% endif %}

  </div>
{% endfor %}


</div>

{% endblock %}
