<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand navbar-brand-logo" href="./index.html">
      <img src="../imput/logos/GEOSO2-cabecera.svg" alt="GEOSO2" class="navbar-logo">
    </a>
    <span class="research-group-text">
      Grupo de Investigación Geoespacial y<br>Dinámicas Territoriales para la Sostenibilidad
    </span>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

      <!-- Enlaces -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./rafagas.html">
            <i class="fa-solid fa-bolt"></i>
            <span class="menu-text">RÁFAGAS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./proyectos.html">
            <i class="fa-solid fa-project-diagram"></i>
            <span class="menu-text">PROYECTOS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./publicaciones.html">
            <i class="fa-solid fa-book"></i>
            <span class="menu-text">PUBLICACIONES</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./geocoopera/web.html">
            <i class="fa-solid fa-handshake"></i>
            <span class="menu-text">GEOCOOPERA</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contacto.html">
            <i class="fa-solid fa-envelope"></i>
            <span class="menu-text">CONTACTO</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./quienes-somos.html">
            <i class="fa-solid fa-users"></i>
            <span class="menu-text">¿QUIÉNES SOMOS?</span>
          </a>
        </li>
      </ul>

      <!-- Icono lupa -->
      <button type="button" class="btn btn-link p-0 ms-3 text-decoration-none search-trigger" aria-label="Abrir buscador">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </button>
    </div> 
  </div>
</nav>

<!-- Buscador fuera del navbar -->
<div class="search-container">
  <form class="search-form" role="search" autocomplete="off">
    <div class="container-fluid d-flex align-items-center">
      <input class="form-control search-input" type="search" placeholder="Buscar" aria-label="Buscar">
    </div>
  </form>
</div>