{% extends "index_base.html" %}

{% block title %}GEOSO2 y la Cooperación Internacional{% endblock %}

{% block content %}
<div class="mx-3 mt-4">
  <h2 style="text-align: center;"><strong>{{ noticias.detalles.noticia01.titulo }}</strong></h2>
  <p style="text-align:center; font-weight:200">
    Fecha: {{ noticias.detalles.noticia01.fecha }}
  </p>
  <br>
</div>
  {% for parrafo in noticias.detalles.noticia01.parrafos %}
    <p>{{ parrafo.texto1 }}</p>
  {% endfor %}
  {% for img in noticias.detalles.noticia01.imagenes %}
    <div class="container my-4 text-center">
      <img src="{{ img.src1 }}" alt="{{ img.alt1 }}" class="img-marco2">
      <p style="text-align:center; font-weight:200">{{ img.pie }}</p>
    </div>
  {% endfor %}
  <p>Durante la visita se han debatido varios temas de colaboración entre ambos equipos de trabajo como: detección remota aplicada a deforestación, inundaciones y cambios en el uso del suelo, desarrollo, transformación y comercialización de productos forestales no leñosos, monitorización de productos forestales leñosos etc.</p>
  <p>Esta visita se enmarca en las actividades a desarrollar por el proyecto GEOCOOP, Acción Semilla financiada por la UPM en su programa de cooperación internacional. Dicho proyecto titulado “Metodología colaborativa para el desarrollo de acciones de cooperación internacional. Aplicación a la mejora del acceso a agua de calidad para la población Baka del Sur de Camerún”, llevará a cabo acciones sobre el terreno que mejoren el acceso al agua de las poblaciones baka, y analizará aspectos del entorno ambiental y socioeconómico en el que vive dicha población para ayudar a la ONGD <a  style=" text-decoration: none;" href="https://zercaylejos.org/">Zerca y Lejos</a> mediante diagnóstico y análisis la situación, a plantear áreas temáticas en las que desarrollar sus proyectos y criterios para la priorización de los mismos.</p>
{% for img in noticias.detalles.noticia01.imagenes %}
    <div class="container my-4 text-center">
      <img src="{{ img.src2 }}" alt="{{ img.alt2 }}" class="img-marco2" width="800px">
      <p style="text-align:center; font-weight:200">{{ img.pie2 }}</p>
    </div>
  {% endfor %}
  {% for parrafo in noticias.detalles.noticia01.parrafos %}
    <p>{{ parrafo.texto4 }}</p>
  {% endfor %}
  {% for img in noticias.detalles.noticia01.imagenes %}
    <div class="container my-4 text-center">
      <img src="{{ img.src3 }}" alt="{{ img.alt3 }}" class="img-marco2" width="800px">
      <p style="text-align:center; font-weight:200">{{ img.pie3 }}</p>
    </div>
  {% endfor %}
{% endblock %}
