{% extends "index.html" %}

{% block title %}GEOSO2 y la Cooperación Internacional{% endblock %}

{% block content %}

<div class="mx-3 mt-4">

    <h2 style="text-align:center";>
    GEOSO2 y la Cooperación Internacional.<br>
    Se inician dos proyectos de Acciones Semilla en el marco de la UPM 
    </h2>
    <p  style="text-align:center; font-weight:200">
        Fecha: 22 febrero 2024
    </p>
    <br>
    <p>
    El Grupo de Investigación geoespacial y dinámicas territoriales para la sostenibilidad (GEOSO2) comprende como misión el desarrollo humano sostenible y está comprometido desde su creación con la cooperación internacional al desarrollo. En este 2024, varios de sus investigadores participan en dos proyectos “Acción Semilla” de la XXIV Convocatoria UPM para acciones de cooperación internacional para el desarrollo humano sostenible.    </p>
    <br>

     <div class="container my-4">
        <div class="row text-center align-items-center">
          <div class="col">
              <img src="../imput/img/noticias/03/20240222_02.jpg" width="400" height="300" alt="Zerca y Lejos">
                      <p style="text-align:center; font-weight:200">Población baka en la Región Sur Camerún.</p>
            </a>
          </div>
          <div class="col">
              <img src="../imput/img/noticias/03/20240222_03.jpg" width="400" height="300" alt="Nediage">
                      <p style="text-align:center; font-weight:200">Playa Riohacha en la Guajira Colombia.</p>
            </a>
          </div>
        </div>
     </div>
     

        <br><br>
    <p>
    La población baka es una etnia que habita las selvas del sur-oeste de Camerún, norte de la república del Congo y de Gabón y sur-oeste de la República Centroafricana. Su modo de vida tradicional (nómada y como cazadores recolectores) se enfrenta actualmente a diversos retos, entre otros: relaciones con otras etnias, falta de derechos, y Deforestación.
    Esta visita se enmarca en las actividades a desarrollar por el proyecto GEOCOOP, Acción Semilla financiada por la UPM en su programa de cooperación internacional. Dicho proyecto titulado “Metodología colaborativa para el desarrollo de acciones de cooperación internacional. Aplicación a la mejora del acceso a agua de calidad para la población Baka del Sur de Camerún”, llevará a cabo acciones sobre el terreno que mejoren el acceso al agua de las poblaciones baka, y analizará aspectos del entorno ambiental y socioeconómico en el que vive dicha población para ayudar a la ONGD Zerca y Lejos mediante diagnóstico y análisis la situación, a plantear áreas temáticas en las que desarrollar sus proyectos y criterios para la priorización de los mismos.
    <br><br>
    El grupo GEOSO2, en colaboración con Zerca y Lejos ONGD y LeafCape S.L. han planteado el proyecto “Metodología colaborativa para el desarrollo de acciones de cooperación internacional. Aplicación a la mejora del acceso a agua de calidad para la población Baka del Sur de Camerún”, que permitirá a la ONGD analizar y diagnosticar la situación, plantear áreas temáticas en las que desarrollar sus proyectos y criterios para la priorización de los mismos. En ese contexto, algunos estudiantes de la UPM desarrollarán sus Trabajos Fin de Titulación como actividades de Aprendizaje-Servicio vinculadas a la comunidad EELISA Green Planet.
    <br><br>
    La Guajira es una extensa región que ocupa la península más septentrional de Colombia. La zona es de difícil acceso, remota, muy rústica, y de una enorme belleza.
    <br><br>
    Algunos investigadores de GEOSO2, vinculados desde hace años con actividades de cooperación en dicha región, en colaboración con el grupo Ingeniería de los Recursos y Modelización, han planteado el proyecto Ayuda en el desarrollo tecnológico y científico para la estimación de los cambios morfológicos de la costa de Riohacha, Departamento de la Guajira, Colombia, que contempla como objetivo desarrollar conocimientos especializados que capaciten a los expertos locales para entender las complejas interacciones entre factores naturales y antropogénicos que influyen en la evolución de la línea de costa en el Caribe Colombiano. Para ello, se estudiarán detalladamente los fenómenos que pueden influir en la estabilidad costera, como son la erosión, los cambios en el nivel del mar, las características climáticas y la dinámica sedimentaria.
    </p> 

</div>
{% endblock %}