{% extends "index_base.html" %}

{% block title %}Noticias{% endblock %}

{% block content %}
<div class="mx-3 mt-4">

  <hr style="height: 4px; background: #ccc; margin: 16px 0;">
  <div class="marco2"><h3><strong>Noticias</strong></h3></div>
  <br><br>

  {% for noticia in noticias %}
    <div class="imagenizq-texto">

      {% if noticia.imagen %}
        <img src="{{ noticia.imagen }}" class="imagenizq img-marco">
      {% endif %}

      <div>
        <h3><strong>{{ noticia.titulo }}</strong></h3>

        <p style="color:rgba(235, 245, 255, 0.775); white-space: pre-line;">
          {{ noticia.descripcion }}
        </p>

        {% if noticia.enlace %}
          <a href="{{ noticia.enlace }}" class="btn btn-primary" target="_blank">
            Leer más
          </a>
        {% endif %}

        <br><br>
      </div>

    </div>
    <hr>
  {% endfor %}

</div>
{% endblock %}
