{% extends "index_base.html" %}

{% block title %}GEOSO2 y la Cooperación Internacional{% endblock %}

{% block content %}
<div class="mx-3 mt-4">
  <h2 style="text-align:center;">
    {{ noticia02.titulo }}
  </h2>
  <p style="text-align:center; font-weight:200">
    Fecha: {{ noticia02.fecha }}
  </p>
  <br>

  {% for parrafo in noticia02.parrafos %}
    <p>{{ parrafo }}</p>
    <br>
  {% endfor %}

  <div class="container my-4">
    <div class="row text-center align-items-center">
      {% for img in noticia02.imagenes %}
      <div class="col">
        <img src="{{ img.src }}" width="400" height="300" alt="{{ img.alt }}">
        <p style="text-align:center; font-weight:200">{{ img.pie }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
