{% extends "index_base.html" %}

{% block title %}Proyectos - GEOSO2{% endblock %}

{% block content %}
<br><br>
<a class="marco2" style="text-decoration: none; color: white;" href="#encurso">En curso</a>
<a class="marco2" style="text-decoration: none; color: white;" href="#anteriores">Anteriores</a>
<a class="marco2" style="text-decoration: none; color: white;" href="#trabajosacademicos">Trabajos académicos</a>
<hr>
<div id="encurso" class="marco2">
  <h1>En curso</h1>
</div>
{% for proyecto in proyectos.encurso %}
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-center imagenizq-texto">
      <a href="{{ proyecto.link }}"><img src="{{ proyecto.imagen }}" style="width:300px"></a>
    </div>
    <div class="col-md-8">
      <p><a style="color:#003366; font-weight:700; text-decoration:none;" href="{{ proyecto.link }}"><h4>{{ proyecto.titulo }}</h4></a></p>
      <p>{{ proyecto.descripcion }}</p>
      <p><a style="color: #003366" href="{{ proyecto.link }}">Leer Más</a></p>
    </div>
  </div>
</div>
{% endfor %}
<hr>
<div id="anteriores" class="marco2">
  <h1>Anteriores</h1>
</div>
{% for proyecto in proyectos.anteriores %}
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-center imagenizq-texto">
      <a href="{{ proyecto.link }}"><img src="{{ proyecto.imagen }}" style="width:300px"></a>
    </div>
    <div class="col-md-8">
      <p><a style="color:#003366; font-weight:700; text-decoration:none;" href="{{ proyecto.link }}"><h4>{{ proyecto.titulo }}</h4></a></p>
      <p>{{ proyecto.descripcion }}</p>
      <p><a style="color: #003366" href="{{ proyecto.link }}">Leer Más</a></p>
    </div>
  </div>
</div>
{% endfor %}
<hr>
<div id="trabajosacademicos" class="marco2">
  <h1>Trabajos académicos</h1>
</div>
{% for trabajo in proyectos.trabajosacademicos %}
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-center imagenizq-texto">
      <a href="{{ trabajo.link }}"><img src="{{ trabajo.imagen }}" style="width:300px"></a>
    </div>
    <div class="col-md-8">
      <p><a style="color:#003366; font-weight:700; text-decoration:none;" href="{{ trabajo.link }}"><h4>{{ trabajo.titulo }}</h4></a></p>
      <p>{{ trabajo.descripcion }}</p>
      <p><a style="color: #003366" href="{{ trabajo.link }}">Leer Más</a></p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
