{% extends "index.html" %}

{% block title %}¿Quiénes Somos? - GEOSO2{% endblock %}

{% block content %}

<div class="container text-center mb-4">
    <img class="img-fluid" style="max-width: 350px;"
         src="img/desarrollo_sostenible.png"
         alt="Desarrollo sostenible">
</div>

<div class="container">
    <p>
      <strong>Quiénes somos:</strong>
      Somos un grupo interdisciplinar de investigadores que trabajamos con un enfoque holístico,
      geoespacial y social, usando métodos, técnicas y tecnologías: GIS, Remote Sensing,
      Series tiempo, Big Data, encuestas, Artificial Intelligence, etc. para monitorear,
      analizar, modelar y simular nuestro entorno, con el objetivo de promover un desarrollo sostenible.
    </p>

    <p><strong>Qué hacemos:</strong>
      Monitorear, analizar, modelizar y simular.</p>

    <p><strong>Dónde lo hacemos:</strong>
      En nuestro entorno, formado por los medios ambiental, social y económico.</p>

    <p><strong>Cómo lo hacemos:</strong>
      Utilizando enfoque holístico con especial énfasis geoespacial y social.</p>

      
      <p><strong>Con qué lo hacemos:</strong>
      Aplicando herramientas de geomática, simulación y metodologías estadísticas:
      GIS, Big Data, Remote Sensing, Artificial Intelligence, encuestas, series de tiempo, etc.
    </p>

    <p><strong>Para qué lo hacemos:</strong>
      Promover un desarrollo sostenible.</p>
</div>

{% endblock %}
