{% extends "index_base.html" %}

{% block title %}Ráfagas{% endblock %}

{% block content %}
{% for rafaga in rafagas %}
<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-4 text-center imagenizq-texto">
      <a href="{{ rafaga.link }}">
        <img src="{{ rafaga.imagen }}" style="width:300px">
      </a>
    </div>
    <div class="col-md-8">
      <h4>
        <a style="color:#003366; font-weight:700; text-decoration:none;" href="{{ rafaga.link }}">
          {{ rafaga.titulo }}
        </a>
      </h4>
      <p>{{ rafaga.descripcion }}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
